{% extends "base.html" %}
{% block content %}
<div class="background" style="z-index: -2;text-align: center">
    <div id="sphere-wrap">
        <canvas id="sphere"></canvas>
    </div>
</div>
<video class="background" preload="auto" autoplay loop playsinline muted>
    <source src="../static/background.mp4" type="video/mp4" />
</video>
<form id="certificateUser" class="form" action="" method="post" novalidate>
    <h2 class="title">Сертификат № <span id="id">{{ form.cosmic_id }}</span></h2>
    <div class="form-item">
        <span class="form-item__label">Планета:</span>
<!--        <script>-->
<!--            navigator.clipboard.writeText('Hello Alligator!')-->
<!--  .then(() => {-->
<!--    // Получилось!-->
<!--  })-->
<!--  .catch(err => {-->
<!--    console.log('Something went wrong', err);-->
<!--  });-->
<!--        </script>-->
        <span class="bold" id="planet_name">{{ form.name_cosmic }}</span>
    </div>
    <div class="form-item">
        <span class="form-item__label">Фамилия:</span>
        <span class="bold" id="last_name">{{ form.last_name }}</span>
    </div>
    <div class="form-item">
        <span class="form-item__label">Имя:</span>
        <span class="bold" id="first_name">{{ form.first_name }}</span>
    </div>
    {% if form.middle_name %}
    <div class="form-item">
        <span class="form-item__label">Отчество:</span>
        <span class="bold" id="middle_name">{{ form.middle_name }}</span>
    </div>
    {% endif %}
    <div class="form-item">
        <span class="form-item__label">Дата регистрации:</span>
        <span class="bold" id="date">{{ form.datetime.strftime('%Y-%m-%d') }}</span>
    </div>
    <div class="form-item">
        {{ cosmic_download.submit(class="download") }}
    </div>
</form>
<script src="../static/script.js"></script>
{% endblock %}