{% extends "base.html" %}
{% block content %}
<video class="background" preload="auto" autoplay loop playsinline muted>
    <source src="../static/background.mp4" type="video/mp4" />
</video>
<form id="certificateUser" class="form" action="" method="post" novalidate>
    <h2 class="title">Очередь<span id="id">Сейчас в очереди - </span></h2>
    {% for ticket in tickets %}
        <div class="form-item">
        <span class="form-item__label">{{ ticket.id }}</span>
        <span class="bold" id="middle_name">{{ ticket.last_name }}</span>
    </div>
    {% endfor %}
    <div class="form-item">
</form>
{{ queue.nextq(class="submit") }}
{{ queue.stopq(class="submit") }}
{% endblock %}